.background{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEE;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 114, 174);
    border-radius: 10px 10px;
    padding: 50px;
    box-shadow: -5px 5px 5px #aaa;
    color: #FFF;
}

.main2{
    color: #555;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 114, 174);
    color: #FFF;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #d44789;
    width: 50%;
    height: 50%;
    border-radius: 20px 20px;
}

.form_el{
    margin-top: 20px;
}

.main_title{
    margin: 20px 0 0 0;
}

.main_title2{
    margin: 20px 0 20px 0;
}

.button{
    border-radius: 10px 10px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    color: #381b28;
    border: 1px solid #ddd;
    transition-duration: 0.7s;
}

.button2{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #381b28;
    border: none;
    background-color: #fff;
    transition-duration: 0.7s;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgb(160, 79, 97);

}

.button3{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #381b28;
    border: none;
    background-color: #fff;
    transition-duration: 0.7s;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgb(160, 79, 97);
    align-self: flex-end;
    margin-right: 30px;

}

.button:hover,
.button2:hover,
.button3:hover{
    background-color: #cc5f92;
    color: white;
    cursor: pointer;
}

.text{
    border-radius: 4px 4px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ddd;
}

.text2{
    border-radius: 4px 4px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ddd;
    width: 80%;
}

.text3{
    border-radius: 4px 4px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ddd;
    width: 80%;
    resize: none;
    max-height: 500px;
    min-height: 100px;
    height: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE;

}

.background3{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    background-color: #381b2866;
}

.hide{
    display: none;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
}

.post{
    width: 80%;
    background-color: #d44789;
    border-radius: 20px 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 5%;
    margin-bottom: 10px;
    max-height: 250px;
}

.post_section{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: calc(80%);
    padding-bottom: 10px;
    padding-top: 10px;
}



 .post_p{
    width: calc(100%);
    overflow: hidden;
    line-height: 1.2em;
    max-height: 4.8em;
    word-wrap: break-word;
    /* white-space: nowrap;  */
    text-overflow: ellipsis;
    margin-top: 1.2em;
}

.post_p2{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}


.post_t{
    width: calc(100%);
    overflow: hidden;
    line-height: 1.2em;
    max-height: 2.4em;
    word-wrap: break-word;
    /* white-space: nowrap;  */
    text-overflow: ellipsis;
}

.post_t2{
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
/*

.post_t{
    height: 40%;
    max-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: calc(100%);
    word-wrap: break-word;
    white-space: nowrap; 
    overflow: hidden;
     text-overflow: ellipsis; 
    
} */